[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke
[submodule "themes/hello-friends"]
	path = themes/hello-friends
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng
